
*{
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    background-image: url('../images/bg-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/**************************** HOME PAGE start *******************************/
/******************** HEADER PART LOGO AND LOGIN start **********************/

.yamaha_logo{
    height: 100px;
    width: 200px;
}

.btn-login{
    width: 80px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF0202;
    color: #FFFF;
    font-weight: bold;
    text-align: center;
    
}

.btn-login:hover{
    background-color: #FFFF;
    color: #FF0202;
}

/************************** HEADER PART end ***************************/

/************************** NAV BAR start ************************/

.navbar a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffff;
    font-weight: 700;
    font-size: medium;


}

.navbar a:hover{
    color: #FF0202;
}

.abt_home:hover{
    color: #FFFF;
}

/************************** NAV BAR end ************************/

marquee{
    background-color: #ffff;
    color: #FF0202;
    opacity: .7;
}

/******************************* HOME PAGE BIKE AD start ****************************/

 /* .swiper {
    width: 100%;
    height: 100%;
  } 

    .swiper-slide .img1 {
        height: 400px;
        width: 600px;
  }  
  
  .swiper-slide h5, .swiper-slide h6{
    color: #FFFF;
  }

  .title{
    font-family: 'Times New Roman', Times, serif;
   color: #FF0202;
} */

marquee{
    background-color: #ffffff;
    color: #FF0202;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.mt_wall{
    background-image: url('../images/mt_wallpaper.jpeg');
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************************* HOME PAGE BIKE AD end ****************************/
/********************************** HOME PAGE end *******************************/

/********************************** CONTACT PAGE start ******************************/

.cnt_sm{
    color: #f83131;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cnt_sm_cnt{
    color: #FFFF;
}

.cnt{
    width: 400px;
    letter-spacing: 1px;
    border-color: #FFFF;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    opacity: .7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cnt:hover{
    opacity: .9;
    border-color: #FF0202;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.cont:hover{
    border: none;

}

::placeholder{
    color: #FF0202;
    text-align: center;
}

.cnt_smt{
    width: 80px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFF;
    background-color: #FF0202;
    border-color: #FFFF;
}

.cnt_smt:hover{
    background-color: #FFFF;
    color: #FF0202;
    font-weight: bold;
    border-color: #FF0202;
}

.cnt_footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/footer.jpg');
    opacity: .7;
}

/********************************** CONTACT PAGE end ******************************/

/************************************ ABOUT PAGE start ****************************/

.abt_home{
    color: #FF0202;
}

.abt_para1{
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
}

.abt_para2{
    color: #FF0202;
    letter-spacing: 1px;
}

.abt_para3{
    color: #FF0202;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

/* .abt_dev:hover{
    cursor: pointer;
    background-color: #000000;
}

.abt_dev_icon:hover{
    color: #ffff;
    background-color: #FFFF;
} */

.abt_me a{
    background-color: #FFFF;
}

.abt_me a i{
    color: #000000;
}

.abt_me a:hover{
    background-color: #000000;
    transition: .5s;
}

.abt_me a i:hover{
    color: #FFFF;
    transition: .5s;
}

.rights{
    color: #F8F9FA;
    opacity: .7;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dev_name{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: large;
    font-weight: bold;
    color: #FFFF;
    opacity: 4;
    z-index: -2;
}

/*********************************** ABOUT PAGE end *******************************/

/************************************ SIGN IN PAGE start **************************/

.sign_in_para{
    color: #ffff;
}

.sign_in_btn{
    width: 30px;
    height: 30px;
}

.sign_in_inp{
    border: 1px solid #C0C0C0;
    height: 30px;
    width: 300px;
    background-color: #F8F9FA;
    opacity: .7;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.sign_in_smt{
    width: 100px;
    height: 30px;
    color: #FF0202;
    letter-spacing: 1px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sign_in_inp:hover{
    border: 3px solid #FF0202;
    background-color: #ffffff;
    opacity: .9;
}

.sign_in_smt:hover{
    background-color: #FF0202;
    color: #ffff;
}

.sign_in_sm{
    background-color: #ffffff;
    margin: 5px;
    width: 30px;
    border-radius: 100px;
}

.sign_in_sm:hover{
    background-color: #FF0202;
    transition: .5s;
}

.sign_in_sm2{
    color: #FF0202;
    margin-left: 7px;
}

.sign_in_sm2:hover{
    color: #ffffff;
    font-weight: bolder;
}

/************************************* SIGN IN PAGE end ****************************/

/************************************** PRODUCT PAGE start **************************/

.swiper {
    width: 600px;
    height: 300px;
  }

.kwn_bg{
    background-color: #FF0202;
    color: #FFFF;
}

.kwn{
    text-decoration: none;
}

.kwn_bg:hover{
    background-color: #FFFF;
    color: #FF0202;
}

.pdt_swiper{
    position: relative;
    top: 20px;
}

.pdt_name{
    color: #FF0202;
    font-family: 'Times New Roman', Times, serif;
}

.pdt_title{
    color: #FFFF;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pdt_list{
    color: #C0C0C0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    letter-spacing: 1px;
}

.pdt_list li::before{
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.pdt_img{
    background-size: cover;
}


.img_footer{
    background-image: url('../images/footer.jpg');
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: top;
    opacity: .7;
}

/************************************** PRODUCT PAGE end **************************/

/************************************* PRODUCTS INNER start ***************************/

.footer{
    background-image: url('../images/footer.jpg');
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 0;
    background-position: top;
    background-size: cover;
    opacity: .7;
}

/************************************* PRODUCTS INNER end ***************************/