
body{
    background-image: url('../images/bg-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/**************************** HOME PAGE start *******************************/
/******************** HEADER PART LOGO AND LOGIN start **********************/

.yamaha_logo{
    height: 100px;
    width: 200px;
}

.btn-login{
    width: 80px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF0202;
    color: #FFFF;
    font-weight: bold;
    text-align: center;
    
}

.btn-login:hover{
    background-color: #FFFF;
    color: #FF0202;
}

/************************** HEADER PART end ***************************/

/************************** NAV BAR start ************************/

.navbar a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffff;
    font-weight: 700;
    font-size: medium;


}

.navbar a:hover{
    color: #FF0202;
}

.abt_home:hover{
    color: #FFFF;
}

/************************** NAV BAR end ************************/

marquee{
    background-color: #ffff;
    color: #FF0202;
    opacity: .7;
}

/******************************* HOME PAGE BIKE AD start ****************************/

 .swiper {
    width: 100%;
    height: 100%;
  } 

    .swiper-slide .img1 {
        height: 400px;
        width: 600px;
  }  
  
  .swiper-slide h5, .swiper-slide h6{
    color: #FFFF;
  }

  .title{
    font-family: 'Times New Roman', Times, serif;
   color: #FF0202;
}

/********************************* HOME PAGE BIKE AD end ****************************/
/********************************** HOME PAGE end *******************************/

/********************************** CONTACT PAGE start ******************************/

.cnt{
    border: none;
    border-bottom-color:2px solid #FF0202;

}

.cont:hover{
    border: none;

}

::placeholder{
    color: #FF0202;
    text-align: center;
}

/********************************** CONTACT PAGE end ******************************/

/************************************ ABOUT PAGE start ****************************/

.abt_home{
    color: #FF0202;
}

.abt_para1{
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
}

.abt_para2{
    color: #FF0202;
    letter-spacing: 1px;
}

.abt_para3{
    color: #FF0202;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

/*********************************** ABOUT PAGE end *******************************/

/************************************ SIGN IN PAGE start **************************/

.sign_in_para{
    color: #ffff;
}

.sign_in_btn{
    width: 30px;
    height: 30px;
}

/* .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.sign_in_inp{
    border: 1px solid #C0C0C0;
    height: 30px;
    width: 300px;
    background-color: #F8F9FA;
    opacity: .7;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.sign_in_smt{
    width: 100px;
    height: 30px;
    color: #FF0202;
    letter-spacing: 1px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sign_in_inp:hover{
    border: 2px solid #FF0202;
    background-color: #9df3ae;
}

.sign_in_smt:hover{
    background-color: #FF0202;
    color: #ffff;
}

.login_footer{
}

/************************************* SIGN IN PAGE end ****************************/

/************************************** PRODUCT PAGE start **************************/

.swiper {
    width: 600px;
    height: 300px;
  }

.kwn_bg{
    background-color: #FF0202;
    color: #FFFF;
}

.kwn{
    text-decoration: none;
}

.kwn_bg:hover{
    background-color: #FFFF;
    color: #FF0202;
}

.kwn_bg i:hover{
    color: #FFFF;
}

.pdt_swiper{
    position: relative;
    top: 20px;
}

.pdt_name{
    color: #FF0202;
    font-family: 'Times New Roman', Times, serif;
}

.pdt_title{
    color: #FFFF;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pdt_list{
    color: #C0C0C0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}

.pdt_list li::before{
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/************************************** PRODUCT PAGE end **************************/